* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);

  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}

body {
  color: var(--Cool-gray);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  position: relative;
}

button, a {
  cursor: pointer;
}

.App {
  background-color: white;
  display: flex;
  padding: .8rem;
}

.form-control {
  background-image: url('/public/images/bg-sidebar-desktop.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 16px;
  height: 90vh;
  padding: 3rem 8rem 0 3rem;
  width: 22rem;
}

.form-control .step {
  display: flex;
  margin-bottom: 1.5rem;
}

.form-control .step .step-value {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 2rem;
  width: 2rem;
  margin-right: 1rem;

  color: var(--White);
  border: 1px solid white;
  border-radius: 50%;
}

.form-control .step .step-value-active {
  background-color: var(--Light-blue);
  display: flex;
  align-items: center;
  justify-content: center;

  height: 2rem;
  width: 2rem;
  margin-right: 1rem;

  color: var(--Marine-blue);
  font-weight: 700;
  border: 1px solid white;
  border-radius: 50%;
}

.form-control .step .step-description p {
  color: var(--Pastel-blue);
  font-size: 10px;
  margin-bottom: 5px;
}

.form-control .step .step-description h3 {
  color: var(--White);
  font-size: 12px;
}

/* First Form */
.form-container {
  display: flex;
  flex-direction: column;
  text-align: left;

  height: 100vh;
  width: 75%;
  padding: 2rem 15%;
  position: relative;
}

.form-container .form-info h1 {
  color: var(--Marine-blue);
  font-weight: 700;
  margin-bottom: .5rem;
}

.form-container form {
  position: relative;
  height: 100%;
  margin-top: 2rem;
}

.form-container form .input-container {
  margin-bottom: 1.6rem;
}

.form-container form .input-container .label-and-error {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-message {
  color: var(--Strawberry-red);
  font-weight: 700;
  font-size: 12px;
}

.form-container form label {
  color: var(--Marine-blue);
  font-weight: 600;
  display: block;
  margin-bottom: .4rem;
}

.form-container form input {
  border: 1px solid var(--Light-gray);
  border-radius: 8px;
  cursor: pointer;
  padding: .3rem .7rem;
  height: 2.5rem;
  width: 100%;
}

.form-container form input:focus {
  outline: none;
  border: 2px solid var(--Pastel-blue);
}

.next-step {
  padding: .7rem 1.8rem;
  background-color: var(--Marine-blue);
  border-radius: 8px;
  border: 1px solid var(--Marine-blue);
  color: var(--White);
}

.next-step:disabled {
  background-color: var(--Cool-gray);
  border: 1px solid var(--Cool-gray);
  color: var(--Marine-blue);
  font-weight: 600;
}

.prev-step {
  padding: .7rem 1.8rem;
  background: transparent;
  border: none;
  font-weight: 700;
  font-size: 16px;
  color: var(--Cool-gray);
}

.prev-step:hover {
  color: var(--Marine-blue);
}

.billing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 2rem 0;
}

.billing .billing-option {
  width: 10rem;
  border: 1px solid var(--Light-gray);
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.billing .billing-option:hover {
  border: 2px solid var(--Purplish-blue);
}

.billing .billing-option.clicked {
  border: 3px solid var(--Purplish-blue);
}

.billing .billing-option img {
  margin-bottom: 2rem;
}

.billing .billing-option p {
  font-size: 12px;
}

.billing .billing-option h3 {
  color: var(--Marine-blue);
  font-size: 16px;
  margin-bottom: .5rem;
}

.billing .billing-option h6 {
  color: var(--Marine-blue);
  font-size: 12px;
}

.billing-control {
  display: flex;
  justify-content: center;
  background-color: var(--Magnolia);
  padding: .8rem 0;
  border-radius: 8px;
  margin-bottom: 4rem;
}

.billing-control .billing-toggle-options {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.billing-control .billing-toggle-options .active{
  color: var(--Marine-blue);
  font-weight: 800;
}



.billing-control .billing-toggle-options .billing-toggle-button {
  display: flex;
  align-items: center;
  height: 2rem;
  width: 4rem;
  background-color: var(--Marine-blue);
  border-radius: 20px;
  cursor: pointer;
  margin: 0 1rem;
  padding: 0 .4rem;
}

.billing-control .billing-toggle-options .billing-toggle-button .toggle-circle {
  height: 1.5rem;
  width: 1.5rem;
  background-color: white;
  border-radius: 50%;
}

.billing-control .billing-toggle-options .billing-toggle-button .toggle-circle.yearly {
  animation: slide-forward 1s forwards;
}

.billing-control .billing-toggle-options .billing-toggle-button .toggle-circle.monthly {
  animation: slide-backward 1s forwards;
}

@keyframes slide-forward{
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1.7rem);
  }
}

@keyframes slide-backward{
  0% {
    transform: translateX(1.7rem);
  }
  100% {
    transform: translateX(0);
  }
}

.navigate-forms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 7rem;

  width: 100%;
}

.add-ons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: 1.5rem;
  padding: 1rem;
  border: 2px solid var(--Cool-gray);
  border-radius: 8px;
  cursor: pointer;
  text-align: left;
}

.add-ons-container:hover {
  border: 2px solid var(--Purplish-blue);
}

.add-ons-container.clicked{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: var(--Magnolia);
  margin-top: 1.5rem;
  padding: 1rem;
  border: 2px solid var(--Purplish-blue);
  border-radius: 8px;
}

.add-ons-container.clicked h3{
  color: var(--Marine-blue);
}

.add-ons-container.clicked .add-on-cost{
  color: var(--Purplish-blue);
  font-weight: 600;
}

.add-ons-container .img-container {

  display: flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 25px;
  border: 2px solid var(--Cool-gray);
  border-radius: 6px;
  margin-right: 3rem;
}

.add-ons-container .img-container.clicked {

  display: flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 25px;
  background-color: var(--Purplish-blue);
  border: 2px solid var(--Purplish-blue);
  border-radius: 6px;
}

/* Summary Page */

.sub-summary .summary-details {
  background-color: var(--Magnolia);
  border-radius: 12px;

  margin-top: 4rem;
  padding: 3rem;
}

.sub-summary p { /*all the paragragh tags in summary */
  font-size: 14px;
}

.sub-summary .billing-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--Light-gray);
  padding-bottom: 2rem;
}

.sub-summary .billing-details p {
  color: var(--Marine-blue);
  font-size: 18px;
  font-weight: 700;
}

.sub-summary .billing-details a {
  color: var(--Cool-gray);
  font-size: 14px;
}

.sub-summary .add-on-details .add-on {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.sub-summary .add-on-details .add-on .add-on-cost {
  color: var(--Marine-blue);
  font-weight: 600;
}

.sub-summary .summary-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 3rem 3rem 0;
}

.sub-summary .summary-total .total-cost {
  color: var(--Purplish-blue);
  font-size: 18px;
  font-weight: 600;
}

/* success page */
.success-container {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.success-container img {
  height: 4rem;
  width: 4rem;
  margin-bottom: 2.5rem;
}

.success-container h1 {
  color: var(--Marine-blue);
  font-weight: 700;
  margin-bottom: 1.4rem;
}

.success-container p {
  font-weight: 600;
}

@media (max-width: 860px) {

  body {
    background-color: var(--Magnolia);
  }

  .App {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 0;
    position: relative;  
  }

  .form-control {
    background-image: url('/public/images/bg-sidebar-mobile.svg');
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 12rem;
    border-radius: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
  }
  
  .form-control .step .step-description p {
    display: none;
  }
  
  .form-control .step .step-description h3 {
    display: none;
  }

  .form-container {
    position: absolute;
    left: 50%;
    top: 7rem;
    transform: translateX(-50%);

    background-color: var(--White);
    border-radius: 16px;
    padding: 2rem;
  }

  .billing {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  .billing .billing-option {
    width: 100%;
    border: 1px solid var(--Light-gray);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .billing .billing-option img {
    margin: 0 1rem 0 0;
  }

  .billing-control {
    margin-bottom: 0rem;
  }

  .navigate-forms {
    margin: 4rem 0 2rem;
  }

  .add-ons-container h3 {
    font-size: 15px;
  }

  .add-ons-container p {
    font-size: 13px;
  }

  .add-ons-container .img-container {

    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 15px;
    height: 15px;
    border: 1px solid var(--Cool-gray);
    border-radius: 2px;
    margin-right: 1rem;
  }
}
